<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default " en" }}">

<head>
    {{ partial "head.html" . }}
    <!-- TIC-80 Design System -->
    {{ $style := resources.Get "scss/main.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>

<body class="t80-pixel-perfect retro-mode">
    <!-- Nostalgic Structure -->
    {{ partial "header.html" . }}

    <main class="t80-container">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
    {{ partial "retro-effects.html" . }}
</body>

</html>