<header class="t80-header">
    <div class="t80-container">
        <nav class="t80-nav">
            <!-- Site Title with TIC-80 aesthetic -->
            <div class="t80-nav-brand">
                <a href="{{ .Site.BaseURL }}" class="t80-nav-logo">
                    <span class="t80-pixel-text">{{ .Site.Title }}</span>
                </a>
            </div>

            <!-- Navigation Menu -->
            <div class="t80-nav-menu">
                <ul class="t80-nav-list">
                    <li class="t80-nav-item">
                        <a href="{{ .Site.BaseURL }}" class="t80-nav-link {{ if .IsHome }}t80-active{{ end }}">
                            Home
                        </a>
                    </li>
                    <li class="t80-nav-item">
                        <a href="/blog/" class="t80-nav-link {{ if eq .Section " blog" }}t80-active{{ end }}">
                            Blog
                        </a>
                    </li>
                    <li class="t80-nav-item">
                        <a href="/projects/" class="t80-nav-link {{ if eq .Section " projects" }}t80-active{{ end }}">
                            Projects
                        </a>
                    </li>
                    <li class="t80-nav-item">
                        <a href="/about/" class="t80-nav-link {{ if eq .Title " About" }}t80-active{{ end }}">
                            About
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Retro Web Badge -->
            <div class="t80-nav-badge">
                <img src="/images/badges/made-with-tic80.gif" alt="Made with TIC-80" class="t80-badge">
            </div>
        </nav>
    </div>
</header>